.u-section-1 .u-sheet-1 {min-height: 219px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin: 42px auto 0 107px}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-line-1 {width: 1200px; height: 3px; transform-origin: center top 0; margin: 43px auto 53px -30px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-bottom: 60px}
.u-section-1 .u-line-1 {width: 940px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-line-1 {width: 720px} }

@media (max-width: 767px){ .u-section-1 .u-text-1 {margin-top: 20px; margin-left: 213px; margin-bottom: 0}
.u-section-1 .u-line-1 {width: 540px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 103px}
.u-section-1 .u-text-1 {width: auto; font-size: 1.125rem; margin-top: 18px; margin-left: auto}
.u-section-1 .u-line-1 {margin-top: 18px; margin-bottom: 18px; margin-right: initial; margin-left: initial; width: auto} }