.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 278px}
.u-section-1 .u-text-1 {margin: 60px auto 0}
.u-section-1 .u-text-2 {font-size: 1.5rem; margin: -8px 333px 0 708px}
.u-section-1 .u-btn-1 {border-style: none; letter-spacing: 1px; font-weight: 700; text-transform: uppercase; background-image: none; margin: 41px 417px 0 auto}
.u-section-1 .u-btn-2 {border-style: none; letter-spacing: 1px; font-weight: 700; text-transform: uppercase; background-image: none; margin: -46px auto 34px 426px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {width: 391px}
.u-section-1 .u-text-2 {width: 82px; margin-right: 233px; margin-left: 608px}
.u-section-1 .u-btn-1 {width: 108px; margin-right: 217px}
.u-section-1 .u-btn-2 {width: 108px; margin-left: 226px} }

@media (max-width: 991px){ .u-section-1 .u-text-2 {margin-left: 507px; margin-right: 132px} }

@media (max-width: 767px){ .u-section-1 .u-text-2 {margin-left: 417px; margin-right: 42px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 231px}
.u-section-1 .u-text-1 {margin-top: 20px}
.u-section-1 .u-text-2 {width: auto; margin-top: -7px; margin-right: 20px; margin-left: 14px}
.u-section-1 .u-btn-1 {margin-top: 38px; margin-right: 28px}
.u-section-1 .u-btn-2 {margin-bottom: 56px; margin-left: 30px} }.u-section-2 .u-sheet-1 {min-height: 1321px}
.u-section-2 .u-text-1 {margin: 32px auto 0}
.u-section-2 .u-text-2 {font-size: 1.25rem; width: 298px; margin: 7px auto 0}
.u-section-2 .u-image-1 {width: 478px; height: 319px; margin: 52px 45px 0 auto}
.u-section-2 .u-image-2 {width: 478px; height: 319px; margin: -319px auto 0 45px}
.u-section-2 .u-text-3 {line-height: 1.6; margin: 38px 0 0}
.u-section-2 .u-text-4 {margin: 78px auto 0}
.u-section-2 .u-custom-html-1 {min-height: 307px; height: auto; margin: 40px 662px 0 125px}
.u-section-2 .u-custom-html-2 {min-height: 307px; height: auto; margin: -307px 125px 0 660px}
.u-section-2 .u-btn-1 {border-style: none; background-image: linear-gradient(to right, #478ac9, #e68387); font-weight: 700; text-transform: uppercase; font-size: 0.875rem; margin: 69px auto 32px; padding: 16px 40px 17px 39px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 665px}
.u-section-2 .u-text-1 {width: 305px}
.u-section-2 .u-text-2 {width: 428px}
.u-section-2 .u-custom-html-1 {margin-right: 585px; margin-left: 25px}
.u-section-2 .u-custom-html-2 {margin-right: 53px; margin-left: 518px} }

@media (max-width: 991px){ .u-section-2 .u-custom-html-1 {margin-right: 365px; margin-left: 0}
.u-section-2 .u-custom-html-2 {width: 570px; margin-right: 0; margin-left: 365px} }

@media (max-width: 767px){ .u-section-2 .u-custom-html-1 {margin-right: 185px}
.u-section-2 .u-custom-html-2 {width: 540px; margin-left: 185px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 2145px}
.u-section-2 .u-text-1 {width: auto; margin-top: 18px}
.u-section-2 .u-text-2 {margin-top: 0; margin-left: 20px; margin-right: 20px; width: auto}
.u-section-2 .u-image-1 {width: 340px; height: 227px; margin-top: 312px; margin-right: auto; margin-left: 0}
.u-section-2 .u-image-2 {height: 227px; margin-top: -514px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-text-3 {margin-top: 325px; margin-right: auto}
.u-section-2 .u-text-4 {width: auto; margin-top: 49px}
.u-section-2 .u-custom-html-1 {margin-top: 24px; margin-right: initial; margin-left: initial}
.u-section-2 .u-custom-html-2 {margin-top: 44px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-btn-1 {margin-top: 31px; margin-bottom: 18px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 703px}
.u-section-3 .u-text-1 {width: 246px; margin: 31px auto 0}
.u-section-3 .u-text-2 {font-size: 1.25rem; width: 193px; margin: -3px auto 0}
.u-section-3 .u-image-1 {width: 479px; height: 306px; object-position: 50% 0%; margin: 72px auto 0 59px}
.u-section-3 .u-image-2 {width: 470px; height: 306px; object-position: 50% 0%; margin: -306px 52px 0 auto}
.u-section-3 .u-text-3 {margin: 37px 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 667px}
.u-section-3 .u-text-1 {width: auto; margin-right: 135px; margin-left: 143px}
.u-section-3 .u-text-2 {margin-left: 420px}
.u-section-3 .u-image-1 {width: 455px}
.u-section-3 .u-image-2 {width: 446px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-image-1 {height: 290px; margin-left: 14px}
.u-section-3 .u-image-2 {height: 290px; margin-top: -290px; margin-right: 14px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1214px}
.u-section-3 .u-text-1 {width: 164px; margin-top: 32px; margin-left: auto; margin-right: auto}
.u-section-3 .u-text-2 {margin-top: 8px; margin-left: 120px}
.u-section-3 .u-image-1 {width: 340px; height: 217px; margin-top: 20px; margin-left: 0}
.u-section-3 .u-image-2 {width: 340px; height: 221px; margin-top: 20px; margin-right: 0} }.u-section-4 .u-sheet-1 {min-height: 709px}
.u-section-4 .u-text-1 {width: 452px; margin: 30px auto 0}
.u-section-4 .u-image-1 {width: 491px; height: 327px; margin: 83px auto 0 59px}
.u-section-4 .u-image-2 {width: 492px; height: 328px; margin: -327px 59px 0 auto}
.u-section-4 .u-text-2 {margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-text-1 {height: 39px}
.u-section-4 .u-text-2 {height: 160px} }

@media (max-width: 767px){ .u-section-4 .u-image-1 {margin-left: 49px}
.u-section-4 .u-image-2 {margin-right: 48px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 964px}
.u-section-4 .u-text-1 {width: 340px}
.u-section-4 .u-image-1 {width: 340px; height: 226px; margin-top: 20px; margin-left: 0}
.u-section-4 .u-image-2 {width: 340px; height: 227px; margin-top: 20px; margin-right: 0}
.u-section-4 .u-text-2 {margin-bottom: 20px} }